.paragraph-text {
  display: block;
  margin-top: 1rem;
  flex-wrap: wrap;
  max-width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.word-container {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.word-item {
  position: absolute;
  opacity: 0;
}
