.project-card-container {
  display: flex;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 4rem;
}

.project-card-style {
  position: relative;
  top: -10%;
  height: 33rem;
  width: 100%;
  border-style: inset;
  border-width: 1px;
  border-radius: 1rem;
  border-color: white;
  max-height: 100vh;
  overflow-y: auto;
}

.content-divider {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: auto;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  text-align: start;
  max-width: 50%;
  height: auto;
  color: white;
  margin-left: 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.project-header {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50%;
  height: auto;
  margin: 0;
  overflow: visible;
  position: relative;
}

.image {
  width: 100%;
  max-width: 500px; /*1024px */
  cursor: pointer;
  position: relative;
  border-style: dashed;
  border-color: white;
  z-index: 1;
  transition: transform 0.1s ease;
  margin-right: 0.5rem;
}

.image:hover {
  transform: scale(1.02);
}

@media (max-width: 575px) {
  .project-header {
    font-size: 2rem;
  }

  .text-container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .project-card-style {
    height: auto;
    padding: 1rem;
    min-height: 100vh;
  }

  .content-divider {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
  }

  .image-container {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-card-container {
    top: 5rem;
  }
}
