.project-card-container {
  display: flex;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.project-card-style {
  position: relative;
  top: -10%;
  height: 400px;
  width: 100%;
  border-radius: 1rem;
}
