.cursor {
  background-color: white;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.hide-cursor {
  cursor: none !important;
}
/* For Firefox etc. to force cursor to hidden */
html,
body {
  height: 100%;
}
