.projects-container {
  position: relative;
  /*z-index: 2;*/
  /*scroll-margin-top: 20rem;*/
}

.projects-header {
  position: sticky;
  top: 0;
  padding: 1rem;
  padding-top: 2rem;
  margin: 0;
  align-items: center;
  text-align: center;
  color: white;
}

@media (max-width: 575px) {
  .projects-header {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .projects-header {
    padding-top: 4rem;
  }
}
