.projects-container {
  position: relative;
}

.projects-header {
  padding: 1rem;
  padding-top: 2rem;
  margin: 0;
  align-items: center;
  text-align: center;
  color: var(--color-text);
}

.projects-header.sticky {
  position: sticky;
  top: 0;
}

.projects-header.not-sticky {
  position: relative;
}

@media (max-width: 575px) {
  .projects-header {
    font-size: 3rem;
    padding: 0rem;
  }
}

@media (max-width: 767px) {
  .projects-header.sticky {
    position: relative;
    top: auto;
  }

  .projects-header {
    padding-top: 4rem;
    margin-bottom: 10rem;
  }
}

@media (max-height: 656px) {
  .projects-header {
    position: relative;
  }
}

@media (min-height: 657px) and (max-height: 720px) {
  .projects-header {
    font-size: 3rem;
    padding: 0rem;
  }
}

@media (min-height: 721px) and (max-height: 767px) {
  .projects-header {
    padding-top: 0rem;
  }
}

@media (min-height: 768px) and (max-height: 800px) {
  .projects-header {
    padding-top: 1rem;
  }
}
