.image-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  z-index: 1000;
  animation: imageViewFadeIn 0.25s ease forwards;
}

.image-view-overlay.closing {
  animation: imageViewFadeOut 0.25s ease forwards;
}

.image-view-content {
  position: relative;
  max-width: 90%;
  /*max-height: 90%;*/
  max-height: calc(90vh - 5rem);
  aspect-ratio: 16 / 9;
  /*animation: imageViewFadeIn 0.25 ease forwards;*/
}

@keyframes imageViewFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imageViewFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.image-view-img {
  max-width: 100%;
  max-height: 100%;
  border-style: dashed;
  border-color: white;
  border-width: 0.4rem;
}

.image-view-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.2s ease-in-out, color 0.3s ease;
}

.image-view-close:hover {
  transform: scale(1.15);
  color: #ff4d4d;
}
