::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Essential for firefox */
