.line {
  height: 30px;
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 3;
}

.line svg {
  width: 100%;
  height: 100px;
  top: -50px;
  position: absolute;
}

.line svg path {
  stroke-width: 1px;
  stroke: var(--color-text);
  fill: none;
}

.line .box {
  height: 40px;
  /*border: 1px solid red;*/
  position: relative;
  top: -20px;
  z-index: 1;
}

.line .box:hover {
  height: 150px;
  top: -75px;
}
