.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  z-index: 1;
  padding-bottom: 1rem;
}

.footer-link {
  color: inherit;
  font-weight: bold;
}

@media (max-width: 767px) {
  .footer h1 {
    font-size: 3rem;
  }
}
